USE [AMANDA_Production]
GO
/****** Object:  StoredProcedure [dbo].[DefaultProcess_RI_00020019]    Script Date: 9/9/2013 9:56:50 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
CREATE PROCEDURE [dbo].[DefaultProcess_RI_00020019]
@ProcessRSN int, @FolderRSN int, @UserId char(8)
as
exec RsnSetLock
DECLARE @NextRSN int 
 SELECT @NextRSN = isnull(max( AccountBillFee.AccountBillFeeRSN ), 0) 
   FROM AccountBillFee
DECLARE @NextProcessRSN int 
 SELECT @NextProcessRSN = isnull(max( FolderProcess.ProcessRSN ), 0) 
   FROM FolderProcess 
DECLARE @NextDocumentRSN int 
 SELECT @NextDocumentRSN = isnull(max( FolderDocument.DocumentRSN ), 0) 
   FROM FolderDocument 
DECLARE @AttemptResult int
DECLARE @AttemptCount INT

SELECT @AttemptResult = ResultCode
FROM FolderProcessAttempt
WHERE FolderProcessAttempt.ProcessRSN = @ProcessRSN
AND FolderProcessAttempt.AttemptRSN = 
                    (SELECT max(FolderProcessAttempt.AttemptRSN) 
                     FROM FolderProcessAttempt
                     WHERE FolderProcessAttempt.ProcessRSN = @ProcessRSN)


SELECT @AttemptCount = COUNT(*) 
FROM FolderProcessAttempt 
WHERE ProcessRSN = @ProcessRSN

IF @AttemptResult = 20045
BEGIN
  /*EXEC xspScheduleRIInspection @FolderRSN, @ProcessRSN, @AttemptCount, 20*/

UPDATE Folder
  SET Folder.StatusCode = 20012 /*Inspection Scheduled*/
  WHERE Folder.FolderRSN = @FolderRSN

END

IF @AttemptResult = 20062 /*Insp Due letter sent*/
BEGIN
UPDATE Folder
  SET Folder.StatusCode = 20011 /*Inspection Due*/
  WHERE Folder.FolderRSN = @FolderRSN

UPDATE FolderProcess
   SET StatusCode = 1, SignOffUser = Null, EndDate=Null
   WHERE ProcessRSN = @ProcessRSN
END





GO
