USE [AMANDA_Production]
GO
/****** Object:  StoredProcedure [dbo].[OneStop_UserPost]    Script Date: 9/9/2013 9:56:55 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
/* Empty procedure that can be customized for Cashier data validation */

CREATE Procedure [dbo].[OneStop_UserPost] @ArgBatchRSN int
as

/* 44v18 Subhash March 27, 2007: Empty procedure that can be customized for Cashier data validation */

BEGIN

   return
   
END

GO
