USE [AMANDA_Production]
GO
/****** Object:  StoredProcedure [dbo].[usp_GrantSP]    Script Date: 9/9/2013 9:56:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[usp_GrantSP]
as
grant execute on uspCodeMainInspRpt to public





GO
