USE [AMANDA_Production]
GO
/****** Object:  StoredProcedure [dbo].[usp_ReCreate_Folder_Triggers]    Script Date: 9/9/2013 9:56:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[usp_ReCreate_Folder_Triggers] as

/****** Object:  Trigger [dbo].[Folder_Upd]    Script Date: 09/21/2011 13:37:15 ******/
SET ANSI_NULLS OFF

GO
