USE [AMANDA_Production]
GO
/****** Object:  StoredProcedure [dbo].[DefaultValidUser]    Script Date: 9/9/2013 9:56:54 AM ******/
SET ANSI_NULLS OFF
GO
SET QUOTED_IDENTIFIER OFF
GO
create procedure [dbo].[DefaultValidUser] (@argUserId VarChar)
 as
/* Version 43.14:
		Robb :	
*/
begin
 return
end 

GO
